{%  extends 'base.html.twig' %}

    {% block title %}galaxyProject{% endblock %}


{% block body %}
<h1>galaxyProject: yours truly galaxyProject in symfony</h1>
<div>
    Browse through {{ ships|length * 10 }} starships!
    {% if ships|length > 2 %}
        <p>That's a shipload of ships</p>
        {#<ul>
            {% for ship in ships %}
                <li>{{ ship.name }}</li>
            {% endfor %}
        </ul>#}
    {% else %}
        <p>No starships found!</p>

    {% endif %}
</div>

<div>
    <h2>Starships</h2>
    <table>
        <tr>
            <th>Name</th>
            <td>{{ myShip.name }}</td>
        </tr>
        <tr>
            <th>Model</th>
            <td>{{ myShip.model }}</td>
        </tr>
        <tr>
            <th>Manufacturer</th>
            <td>{{ myShip.manufacturer }}</td>
        </tr>
        <tr>
    </table>
</div>
{% endblock %}